
@{
    ViewBag.Title = "Existing";
    Layout = null;
}
<link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    
    <br /><br />
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br /><br />
        <h1>AUTENTIFICARE CU SUCCES!</h1>
        <br /><br />
        @Html.ActionLink("ACASA", "Index", "Home")
    </div>
    <div class="col-md-4"></div>

</div>
